
<h1>About Page</h1>
<body>
<p>Name: Kayode Gbogi-Emmaneul
<p>Status: Junior Student
<p>Organization: University of Colorado Springs Colorado
<p>Major: Bachelor of Science, Computer Science
<p>Graduation Date: May 15, 2022
<p>-------------------------------------------------------
<p>-------------------------------------------------------
</p>
<p>Phone number : 345-892-1978
<p>Email: Kay@newwebsite.com
<p>Address: 678 JustCreatedAwebsite Road, 91821, Manitou Falls, Arizona
</p>
</body>

